[submodule "src/lists"]
	path = src/lists
	url = https://github.com/apodolsk/lists.git
[submodule "src/nalloc"]
	path = src/nalloc
	url = https://github.com/apodolsk/nalloc.git
[submodule "src/linux_dialect"]
	path = src/linux_dialect
	url = https://github.com/apodolsk/linux_dialect.git
[submodule "src/stacks"]
	path = src/stacks
	url = https://github.com/apodolsk/stacks.git
