[submodule "src/lists"]
	path = src/lists
	url = unix.andrew.cmu.edu:~apodolsk/repo/lists
[submodule "src/nalloc"]
	path = src/nalloc
	url = unix.andrew.cmu.edu:~apodolsk/repo/nalloc
[submodule "src/linux_dialect"]
	path = src/linux_dialect
	url = unix.andrew.cmu.edu:~apodolsk/repo/linux_dialect
[submodule "src/stacks"]
	path = src/stacks
	url = unix.andrew.cmu.edu:~apodolsk/repo/stacks
